<div class="jumbotron">
  <h1>Desafio de programa&ccedil;&atilde;o</h1>
  <p>Esta aplica&ccedil;&atilde;o &eacute; a resposta ao desafio proposto pela 
    <a href="https://github.com/9Nama/avaliacao_desenvolvedor">9Nama.</a></p>
</div>
<div class="row">
  <div class="col-lg-6">
    <p>Construido utilizando:</p>
    <ul>
      <li>Ruby 2.7.2</li>
      <li>Rails 5.2.4.4 </li>
      <li>Sqlite 3</li>
      <li>Fedora 32 Workstation</li> 
      <li>Visual Studio Code</li>
    </ul>
  </div>
  <div class="col-lg-6">
    <p>Desenvolvido por:</p>
    <p>George Luiz 'Maverick' Maluf</p>    
  </div>
</div>
